*.pyc
*.pyo
*.fzn
pandac/
*.dis
*.log
screenshots/
sign/
whitelist/
news/
Library/
*.buildings
*.trackRecords
*.DS_Store
backups/
settings.json
errorCode

# PyCharm IDE
.idea
venv
win32/.vscode/tasks.json
*.code-workspace
phase_3/
*Backup.bam
resources/phase_5/models/char/suitA-snap.bam
resources/phase_5/models/char/suitA-cigar-smoke.bam
resources/phase_5/models/char/suitA-song-and-dance.bam
resources/phase_5/models/char/suitA-cease.bam
resources/phase_5/models/char/suitA-summon.bam
resources/phase_5/models/char/suitC-magic4.bam
